{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="important">
                This assignment was created to demonstrate a basic understanding of PHP server side scripting.
            </p>
        </div>
    </div>
{% endblock %}