{% extends "base.html.twig" %}

{% block title %}{{ user.email }} | Profile{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <img src="http://placehold.it/150" alt="" class="img-circle img-responsive" />
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <h4><i class="glyphicon glyphicon-user"></i> <strong>{{ user.email }}</strong></h4>
                            <p><i class="glyphicon glyphicon-calendar"></i> Date Joined: {{ user.date_joined }}</p>
                            <p><i class="glyphicon glyphicon-log-in"></i> Last Login: {{ user.last_login }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}